/* GENERAL RULES */
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bangers', cursive;
}
ul {
  padding: 10px;
  list-style: none;
}
/* HEADER */
.head {
  background-color: black;
  display: flex;
  align-items: center;
}
.head_title {
  color: red;
  font-weight: bold;
}
/* CONTAINER  */
/* for fix background color grey */
.wrap {
  background-color: grey;
  height: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.container > div {
  margin: 5px 0;
  border: 1px solid black;
}
.container li {
  padding-bottom: 5px;
}
/* rules for js element */
.title_height {
  font-size: 20px;
}
.fas {
  color: gold;
}
.far {
  color: gold;
}
img.flag {
  height: 10px;
}
.container li span {
  color: gold;
}
